
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
	<title>Admin - Social-Media</title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
	<link rel="stylesheet" href="/view/css/toast-notification.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.worker.min.js"></script>
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cooltipz-css/cooltipz.min.css" />
  <style>
    /* Áp dụng kiểu cho nút button */
    .button {
      background-color: #c535a6;
      /* Màu nền */
      color: #ffffff;
      /* Màu chữ */
      padding: 4px 4px;
      /* Độ dày nội dung bên trong */
      border: none;
      /* Bỏ viền */
      border-radius: 5px;
      /* Bo tròn góc */
      text-align: center;
      /* Căn giữa nội dung */
      text-decoration: none;
      /* Bỏ gạch chân cho link */
      display: inline-block;
      /* Hiển thị kiểu block */
      font-size: 12px;
      /* Kích cỡ chữ */
      margin: 8px 4px;
      /* Khoảng cách xung quanh nút */
      cursor: pointer;
      /* Biến đổi con trỏ khi hover vào nút */
    }
  </style>
</head>

<body class="g-sidenav-show  bg-gray-100">