

<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<div class="container-fluid">
  <div class="row">
  <%- include('partials/sidebar.ejs') %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Search</h1>
      <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
          <a href="/add" class="btn btn-sm btn-outline-secondary">+ New User</a>
        </div>
      </div>
    </div>
    
    <div class="table-responsive">
      
    
    </div>
  </main> 
  </div>
</div>
<%- include('partials/footer.ejs') %>